.column-layout {
    display: flex;
    flex-direction: column;
}
.master-view-container {
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    height: 100%;
}
.input {
    height: max-content;
    min-width: min-content;
}
.button {
    margin: 20px 0;
    height: max-content;
}
.text {
    width: 190px;
    height: max-content;
    min-width: min-content;
    max-width: 190px;
}
