@page "/"
@page "/master_view"

<div class="column-layout master-view-container">
    <IgbInput Label="Name" Outlined="true" class="input" master_view-scope></IgbInput>
    <IgbButton Size="SizableComponentSize.Large" class="button" master_view-scope>
        Submit
        <IgbRipple></IgbRipple>
    </IgbButton>
    <p class="typography__body-1 text">
        Name:
    </p>
</div>

@code {
}
